<% @danimals.each do |danimal| %>
    <div>
        Name: <%= danimal.name %> <br>
        Description: <%=  danimal.description %><br>
        Species: <%=  danimal.species %><br>
        Legs: <%=  danimal.leg_count %><br>
    </div>
<% end %>
